.intro-header {
    margin-bottom: 0;
}



.intro-header .site-heading, .intro-header .page-heading {
    text-align: left;
}

#place_place {
    border-radius: 0
}

p {
    line-height: 1.5;
     margin: 0;
}