{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://www.autocarsjames.com/wp-content/uploads/2016/02/Paris.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hackathon Ratp</h1>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="result">
        <div class="container-fluid">
            <div class="col-lg-6">
                <p>Results</p>
            </div>
            <div class="col-lg-6">
                <div id="map" style="height: 500px"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}


    <script rel="script">
        /* SELECT 2 */
        $(function(){
            $('.select2').select2({
                placeholder: 'Select your places'
            });
        });
    </script>

    <script>

        /* GET POSITION */
        function getCoords(position) {

            var lat  = position.coords.latitude;
            var long = position.coords.longitude;

        }

        function errorMsg(error) {
            msg = {
                1: "Accès à la position non autorisé",
                2: "Position non trouvée",
                3: "Délai expiré"
            };
            myPosition.innerHTML = msg[error.code]
            myPosition.className = "ko"
        }
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getCoords,
                    errorMsg,
                    {enableHighAccuracy:true, timeout:60*1000})
        }

    </script>


    <script>
        function initMap() {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: {lat: 48.8534100, lng: 2.3488000}
            });
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('right-panel'));

            var control = document.getElementById('floating-panel');
            control.style.display = 'block';
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

            var onChangeHandler = function() {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('start').addEventListener('change', onChangeHandler);
            document.getElementById('end').addEventListener('change', onChangeHandler);
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            var start = document.getElementById('start').value;
            var end = document.getElementById('end').value;
            directionsService.route({
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode['TRANSIT']
            }, function(response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);

                    //console.log($('[data-step-index="1"]').find('[jstcache="63"]').text());
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Wnp3sml8NtilduFMNmjqogvD6wHguWw&signed_in=true&callback=initMap"
            async defer></script>


{% endblock %}


