{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {#<header class="intro-header" style="background-image: url('http://thumbs.dreamstime.com/z/entr%C3%A9e-de-station-de-m%C3%A9tro-de-souterrain-de-metropolitain-paris-63850700.jpg');">#}
        <header class="intro-header" style="background-image: url('{{ asset('assets/img/metropolitain.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Where are you going ?</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block javascript %}


    <script rel="script">
        /* SELECT 2 */
        $(function(){
            $('.select2').select2({
                placeholder: 'Select your places'
            });
        });
    </script>

    <script>
        $(function(){
            $('#place_place').on('change', function(){
                $('form').submit();
            })
        })
    </script>

{% endblock %}


